body, html {
  margin: 0;
  padding: 0;
}

.bg-img {
  background-image: url('https://w0.peakpx.com/wallpaper/155/132/HD-wallpaper-gradient-background-gradient-background-lockscreen.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 0px 0px 15px;
}

.lrContainer  {
  width: 80%;
  margin: auto !important;
  margin-top: 20px !important;
  box-shadow: -1px 5px 10px 4px rgb(0 0 0 / 20%);
  border-radius: 15px;
}

.form-lr {
  width: 80%;
  margin: auto !important;
}


/* Gradient animado */
.css-selector {
  background: linear-gradient(270deg, #0473a6, #5eb6bb);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}